@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.footer {
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.footer-title{
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 100px;
}
.footer-title h3{
    margin-top: 15px;
    font-size: 16px;
}
.footer-buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-footer, .social{
    display: flex;
    list-style: none;
}

.footer-title li{
    list-style: none;
}
.social li {
    margin-right: 10px;
}
.footer-title li a{
    list-style: none;
    text-decoration: none;
    color: #000;
}

.footer-detail{
    /* border: 1px solid red; */
    width: 800px;
    display: flex;
    justify-content:space-between;

}
.footer-logo{
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}
.footer-logo img{
    margin-top: 15px;
}
.footer-name{
    margin-left: 5px;
}

.social{
    width: 160px;
    height: 35px;
}

.contact-facebook {
    width: 32px;
    height: 32px;
}