@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    height: 400px;
    background: url('../img/hea.svg') no-repeat ;
}
.logo{
    margin-top: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
}
nav{
    padding-left: 5rem;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
nav ul{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 1440px;
    /* border: 1px solid red; */
    
}
nav ul li{
    margin-right: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.login-btn{
    margin-top: 30px;
    text-align: center;
}
.login-btn a{
    width: 91px;
    height: 33px;
    border-radius: 90px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-language{
    margin-top: 30px;
    margin-left: 15px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.switch-language p{
    margin-left: 2px;
    margin-top: 5px;
}
.headerinfo-all{
    width: 1300px;
    margin: 0 auto;
    padding: 0px 350px;
    color: #FFFFFF;
    
}

.header-info{
    margin-top: 130px;
    width: 620px;
}
.header-title{
    font-size: 36px;
}
.header-detail{
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
}
.header-btn{
    margin-top: 5px;
    display: flex;
    font-size: 24px;
    justify-content: center;
}
.header-btn a{
    display: inline-block;
}
.joinchat{
    background:#4685C5 ;
    color: #FFFFFF;
    text-decoration: none;
    padding: .5rem 3rem;
    border-radius: 45px;
}
